<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>One Stop Health</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{{!-- <link rel="stylesheet" href="css/style.css"> --}}

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



</head>

<body>
	{{{ body }}}

	<script src="https://code.jquery.com/jquery.js"></script>
  	<script>
	  $(document).ready(function() {
    /* global moment */
  
    // blogContainer holds all of our posts
    // var blogContainer = $(".blog-container");
    // var postCategorySelect = $("#category");
    // Click events for the edit and delete buttons
  //   $(".decline-patient").on("click", function(events){ 
    $(document).on("click", ".decline-patient", declineDeclinePatient);

	function declineDeclinePatient(){
		  
        alert("pressed decline button", patientId)
        var patientId = $(this).data("patientId");
        var doctorId = $(this).data("doctorId");
 
        var updatePatient = {
            patient_request: false,
            patientId: patientId,
            doctorId: doctorId,
            patient_declined: true
          };
          alert(doctorId);
         $.ajax("/api/patient_doctors/" + doctorId   , {
             type: "PUT",
             data: updatePatient
        })
          .then(function() {
            location.reload();
          });
    
 };
});
    
  </script>
</body>

</html>