<nav>
    <div class="blue lighten-1 nav-wrapper">
        <a class="brand-logo center">One Stop Health</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Our Vision</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col s8"><span class="flow-text">
 <button class="btn waves-effect waves-light" id="patientInfo" type="submit" name="action">Patient Info
    <i class="material-icons right">favorite</i>
  </button>
  </span>
  </div>
  </div>
  </div>
