
{{patient}}
<div class="container">
  <div class="row">
    <div class="col s5"><span class="flow-text">
        <div id="current-doctors" class="current-patient ">
          <table>
            <tr>
              <th>Patient Information</th>
            </tr>
            <tr>
            {{#each patients}}
              <td>Patient Name: {{this.patient_name}}</td>
              <td>Patient Primary Address {{this.patient_primary_address1}}</td>
            {{/each}}
            </tr>
          </table>
        </div>
      </span>
    </div>
  </div>
</div>


