body{
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
}

.bg-opacity{
    opacity: 0.5;
}

.brand-logo{

    height: 50px;
    width: auto;
    margin-top: 5px;
}

.nav-name{
    margin-right: 15px;
   
}