body{
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
}

.change-font{
    font-family: 'Alegreya Sans', sans-serif;
}

.transbox{
    opacity: 0.8;
}


.brand-logo{

    height: 50px;
    width: auto;
    margin-top: 5px;
}

.nav-name{
    margin-right: 15px;
   
}