body{
    background-image: url("../images/home-bg.jpg");
    background-size: cover;
}

.change-font{
    font-family: 'Alegreya Sans', sans-serif;
}

.pink-card{
    background-color:#f06291b9 !important;
}

.blue-card{
    background-color:#42a4f5a2 !important;
}

/* .pink-blue-bg{
    background-image: url("../images/placeholder.png")
} */


.modal{
    background-color: lightgrey;
}
.zip-entry{
    margin-left: 10px;
}

.margin-bottom{
    margin-bottom: 5px;
}

.card-action{
    background-color:transparent !important;
}

.brand-logo{

    height: 50px;
    width: auto;
    margin-top: 5px;
}

.nav-name{
    margin-right: 15px;
   
}

.pulse-time {
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }